.h-button {
  color: #fff;
  background-color: $purple;
  min-width: 170px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.1s ease-in;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: lighten($purple, 7%);
  }

  &--green {
    background-color: $light-green;
    color: #fff;

    &:hover {
      color: #fff;
      background-color: lighten($light-green, 7%);
    }
  }
}
