// Find variables in assets/scss/base/_variables.scss
.h-text-sm {
  font-size: $font-size-sm;
}
.h-text-base {
  font-size: $font-size-base;
}
.h-text-md {
  font-size: $font-size-md;
}
.h-text-lg {
  font-size: $font-size-lg;
}
.h-text-xl {
  font-size: $font-size-xl;
}
.h-text-2xl {
  font-size: $font-size-2xl;
}
.h-text-3xl {
  font-size: $font-size-3xl;
}
.h-text-4xl {
  font-size: $font-size-4xl;
}
.h-text-5xl {
  font-size: $font-size-5xl;
}
