@import "../globals/variables";

.h-bottom-border-link {
  color: $text-color;
  padding-bottom: 6px;
  position: relative;
  font-weight: bold;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid $purple;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;

    &:after {
      transform: translateY(-3px);
    }
  }
}
