// Globals
@import 'globals/variables';
@import 'globals/mixins';

// Helpers
@import 'helpers/font-size';

.study {
    height: 600px;
    background-color: $green;
    margin-bottom: 200px;

    .container {
        padding: 0 10px;
    }

    &__col-1 {
        margin-bottom: 60px;
    }

    @include mq('md') {
        height: 660px;

        .container {
            padding: 0 50px;
        }

        &__col-1 {

        }
    }

    @include mq('lg') {
        padding: 0;
        margin-bottom: 0;

        .container {
            display: flex;
        }

        &__col-1 {
            width: 60%;
        }

        &__col-2 {
            width: 40%;
        }
    }

    &__card {
        min-height: 400px;
        position: relative;
        margin-bottom: -300px;

        @include mq('lg') {
            margin-bottom: -70px;
        }
    }

    &__navigation {
        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
    }
}

.stats {
    $dimensions: 154px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq('md') {
        justify-content: space-between;
        flex-direction: row;
    }

    &__stat {
        width: $dimensions;
        height: $dimensions;
        font-size: $font-size-xs;
        text-align: center;
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;

        @include mq('md') {
            margin-bottom: 0;
        }

        &--purple {
            border-color: $purple;
        }

        &--green {
            border-color: $light-green;
        }

        &--blue {
            border-color: $medium-blue;
        }
    }

    &__main-stat {
        font-weight: bold;
        font-size: $font-size-2xl;
    }
}

.solution {
    position: relative;
    min-height: 650px;
    padding-top: 50px;
    overflow: hidden;

    @include mq('sm') {
        overflow: visible;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        background-color: $light-blue;
        transform: skew(0, $skew-degree);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        bottom: -70px;
        height: 100px;
        width: 100%;
        z-index: 10;
        border-top: 1px solid #E4E4E4;
        background-color: #fff;
        transform: skew(0, $skew-degree);

        @include mq('sm') {
            bottom: -100px;
        }
    }

    .container {
        position: relative;
        z-index: 5;
    }

    p {
        line-height: 2;
    }

    img {
        max-height: 400px;
        margin-bottom: -50px;
        margin-left: 15px;
        box-shadow: -3px -4px 6px 0 rgba(158, 158, 158, .18);
    }

    &__col {
        &:first-child {
            padding: 0 10px 20px;

            @include mq('md') {
                padding: 0 50px 20px;
            }
        }
    }

    &__heading {
        @include mq('md') {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    @include mq('lg') {
        padding-top: 0;

        .container {
            display: flex;
            align-items: center;
        }

        img {
            max-height: none;
            max-width: none;
            margin-top: -20px;
            margin-bottom: -20px;
        }

        &__col {
            width: 50%;

            &:first-child {
                padding-right: 50px;
            }
        }
    }
}
