@import 'globals/variables';
@import 'globals/mixins';

.product-hero {
    height: 600px;
    background-color: $green;
    color: #fff;

    &__button {
        background-color: #fff;
        color: $purple;
        text-align: center;
        border-radius: 3px;
        transition: all .1s ease-in;

        &:hover {
            color: #fff;
        }
    }

    &__info {
        margin-bottom: 30px;

        @include mq('lg') {
            max-width: 680px;
        }
    }
}

.docs-info {
    margin: -150px 0 50px;

    .container {
        position: relative;
        z-index: 10;
    }

    @include mq('lg')  {
        margin-top: 0;

        &__col {
            position: relative;
            max-width: 440px;
        }

        &__screenshot {
            position: absolute;
            left: 120%;
            bottom: -140px;
            max-width: none;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 22px;
        }

        img {
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            margin-right: 5px;
        }
    }

    &__content {
        padding: 20px;
        max-width: 440px;
        margin: 50px auto 0;

        @include mq('lg') {
            margin: 0;
        }

        p {
            margin-bottom: 70px;
        }
    }
}

.hosting-docs {
    position: relative;
    min-height: 400px;
    z-index: 30;

    @include mq('md') {
        min-height: 550px;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        background-color: $light-blue;
        transform: skew(0, $skew-degree);
    }

    @include mq('md') {
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -100px;
            height: 100px;
            width: 100%;
            z-index: 5;
            border-top: 1px solid #E4E4E4;
            background-color: #fff;
            transform: skew(0, $skew-degree);
        }
    }

    .container {
        position: relative;
        z-index: 5;
    }

    p {
        line-height: 2;
    }

    img {
        max-height: 400px;
        margin-bottom: -50px;
        margin-left: 15px;
        box-shadow: -3px -4px 6px 0 rgba(158, 158, 158, .18);
    }

    &__col {
        &:first-child {
            padding: 0 10px 20px;

            @include mq('md') {
                padding: 0 50px 20px;
            }
        }
    }

    &__heading {
        @include mq('md') {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    @include mq('lg') {
        padding-top: 0;

        .container {
            display: flex;
            align-items: center;
        }

        img {
            max-height: none;
            max-width: none;
            margin-top: -20px;
            margin-bottom: -20px;
        }

        &__col {
            width: 50%;

            &:first-child {
                padding-right: 50px;
            }
        }
    }
}

.features {
    &__section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;

        &--reverse {
            flex-direction: column-reverse;
        }

        @include mq('lg') {
            justify-content: space-between;

            &--reverse {
                flex-direction: row;
            }
        }
    }

    &__col {
        @include mq('lg') {
            width: 50%;
        }
    }
}

.pricing {
    $border-color: $lighter-gray;
    border-collapse: collapse;
    background-color: #fff;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;

    th {
        font-weight: normal;
        font-size: $font-size-base;
        padding: 35px 18px;
        width: 18%;

        &:first-child {
            width: 28%;
        }
    }

    td {
        padding: 18px;
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }

    td, th {
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    &__plan {
        color: $purple;
        font-weight: bold;
    }

    &__price {
        font-size: $font-size-base2;
        font-weight: bold;
        margin: 5px 0;
    }

    &__action-button {
        background-color: $light-green;
        font-size: $font-size-xl;
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        display: block;
        text-decoration: none;
        transition: background-color .1s ease-in;

        &:hover {
            color: #fff;
            text-decoration: none;
            background-color: lighten($light-green, 5%);
        }
    }

    &__last-row td {
        padding: 0;
    }
}
