$purple: #9b59b6;
$green: #1bbb9b;
$light-green: #38c171;
$light-gray: #777;
$lighter-gray: #dadada;
$blue: #9b1fb9;
$medium-blue: #4587de;
$light-blue: #f8fafc;
$text-color: #3f4a66;
$link: #3b99fc;
$link-hover: #52a6ff;

$image-overlay-gradient: linear-gradient(
  to right,
  rgba(154, 89, 181, 0.85) 0%,
  rgba(109, 117, 238, 0.85) 100%
);

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-base2: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-2xl: 30px;
$font-size-3xl: 34px;
$font-size-4xl: 40px;
$font-size-5xl: 45px;

$breakpoints: (
  'sm': '576px',
  'md': '768px',
  'lg': '1008px',
  'xl': '1200px',
);

$skew-degree: -4deg;
