{
  "extends": "stoplight",

  "env": {
    "browser": true,
    "node": true,
    "worker": true,
    "serviceworker": true,
    "mocha": true,
    "jest": true
  },

  "globals": {
    "Offline": true,
    "Bugsnag": true,
    "__SL": true,
    "Map": true,
    "Headway": true
  },

  "rules": {
    "radix": "off",
    "react/jsx-no-target-blank": false,
    "react/no-deprecated": false
  }
}
