@import "globals/variables";
@import "globals/mixins";

@import "helpers/text-colors";

.hero {
  .robot-dude {
    margin-top: 100px;
    width: 90px;

    @include mq("md") {
      margin-top: 0;
      width: 130px;
    }
  }
}

.collage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__info {
    opacity: 0; // Hidden until hovered
    display: flex;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($purple, 0.75);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.1s ease-in-out;
  }

  &__employee {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 15px;

    &:hover {
      .collage__info {
        opacity: 1;
      }
    }
  }

  &__name {
    font-size: $font-size-lg;
    font-weight: bold;
  }

  &__role {
    font-size: $font-size-md;
  }

  @include mq("md", "min") {
    display: block;
    width: 692px;
    height: 722px;
    position: relative;

    &__employee {
      margin: 0;
      position: absolute;

      &--1 {
        top: 225px;
        left: 220px;
      }
      &--2 {
        top: 58px;
        left: 20px;
      }
      &--3 {
        top: 520px;
        left: 45px;
      }
      &--4 {
        top: 110px;
        right: 0;
      }
      &--5 {
        top: 450px;
        left: 270px;
      }
      &--6 {
        top: 320px;
        right: 40px;
      }
      &--7 {
        top: 0;
        left: 270px;
      }
      &--8 {
        top: 310px;
        left: 0;
      }
    }
  }
}

.meet-our-team {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;

  @include mq("md") {
    text-align: left;
    display: block;
    flex-direction: row;
  }

  @include mq("xl") {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  &__col {
    &--1 {
      .collage {
        margin: 0 auto;
      }

      @include mq("xl") {
        margin-left: auto;
      }
    }

    &--2 {
      max-width: 630px;
      margin: 0 auto;

      @include mq("xl") {
        margin: 0;
        margin-right: auto;
      }
    }
  }
}

.business-love {
  padding: 0;

  h1 {
    padding: 25px 0;
  }

  .container {
    padding: 0;
  }

  &__card {
    width: 100%;
    padding: 10px 0;

    @include mq("sm") {
      width: 50%;
      padding: 15px;
    }

    @include mq("lg") {
      width: 33.33%;
      padding: 20px;
    }
  }
}

.press {
  .container {
    @include mq("md") {
      width: 85%;
    }
  }

  &__card {
    width: 100%;
    padding: 15px 10px;

    @include mq("md") {
      width: 50%;
      padding: 15px;
    }

    @include mq("lg") {
      width: 25%;
    }
  }
}

.investors {
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      margin-top: 50px;
    }

    @include mq("md") {
      padding: 0 30px;
      flex-direction: row;
      justify-content: center;

      img + img {
        margin-left: 70px;
      }
    }
  }
}
