.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.platform-blocks {
  width: 100%;
  margin: 60px 0 80px;
}

.platform-blocks-content {
  max-width: 1000px;
  margin: 0 auto;
}

@keyframes blockIntro {
  from {
    bottom: -20px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.HeroBlock {
  transition: all 0.25s;
  opacity: 0;
  bottom: -20px;

  animation-name: blockIntro;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;

  &:hover {
    margin-top: -3px;
  }
  &.block-one {
    animation-delay: 0.75s;
  }
  &.block-two {
    animation-delay: 1s;
  }
  &.block-three {
    animation-delay: 1.25s;
  }
  &.block-four {
    animation-delay: 1.5s;
  }
}

.platform-block-title {
  font-size: 18px;
  font-weight: bold;
}

.platform-block-tag {
  font-size: 12px;
  color: rgba(white, 0.5);
  padding: 0 5px;
}

.platform-block-description {
  font-size: 14px;
  margin: 20px 0;
}

.platform-block-learn {
  font-size: 14px;
  font-weight: bold;
}

.platform-block-triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid rgba(255, 255, 255, 0.1);
  position: absolute;

  &.triangle-one {
    border-left-width: 80px;
    border-right-width: 80px;
    border-bottom-width: 80px;
    top: -20px;
    right: -70px;
    transform: rotate(55deg);
  }
  &.triangle-two {
    border-left-width: 170px;
    border-right-width: 70px;
    border-bottom-width: 130px;
    top: 80px;
    right: -90px;
    transform: rotate(70deg);
  }
  &.triangle-three {
    border-left-width: 20px;
    border-right-width: 70px;
    border-bottom-width: 130px;
    bottom: -82px;
    left: -27px;
    transform: rotate(171deg);
  }
  &.triangle-four {
    border-left-width: 80px;
    border-right-width: 60px;
    border-bottom-width: 70px;
    top: -20px;
    right: -30px;
    transform: rotate(192deg);
  }
}
