<footer class="bg-blue-lightest l-footer">
    <nav class="container mx-auto">
        <div class="l-footer__copyright text-base">
            &copy; 2018 Stoplight | <a href="#">Terms of Service</a>
        </div>

        <div class="l-footer__links h-text-sm">
            <a href="#" title="Home">Home</a>
            <a href="#" title="Blog">Blog</a>
            <a href="#" title="Press">Press</a>
            <a href="#" title="Docs">Docs</a>
            <a href="#" title="Status">Status</a>
            <a href="#" title="Login">Login</a>
            <a href="#" title="Register">Register</a>
        </div>
    </nav>
</footer>