<header class="l-header py-4 js-header">
    <nav class="container mx-auto flex items-center justify-between flex-wrap p-6">
        <div class="flex items-center flex-no-shrink mr-6">
            <a href="#" class="l-header__logo font-semibold text-xl tracking-tight">StopLight</a>
        </div>

        <div class="w-auto flex-grow flex items-center justify-end">
            <a href="#" title="Platform" class="l-header__link l-header__link--has-dropdown sm:hidden">Platform</a>
            <a href="#" title="Resources" class="l-header__link l-header__link--has-dropdown sm:hidden">Resources</a>
            <a href="#" title="Pricing" class="l-header__link sm:hidden">Pricing</a>
            <button class="l-header__mobile-menu-btn px-3 py-2">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </button>
            <a href="#" title="Log in" class="l-header__link l-header__link--last">Log in</a>
            <a href="#" title="Join" class="md:hidden l-header__action-button sm:hidden">Join</a>
        </div>
    </nav>
</header>