.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    color: #fff;

    a {
        color: #fff;
        font-weight: bold;
    }

    &__logo {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &__link {
        margin: 0 10px;
        padding: 5px;

        &--last {
            margin-right: 0;

            @include mq('md') {
                margin-right: 10px;
            }
        }

        &--has-dropdown:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid #fff;
            margin-left: 10px;
        }
    }

    &__action-button {
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 10px 30px;
        text-decoration: none;
        transition: all .01s ease-in;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: #fff;
            color: $text-color;
        }
    }

    &__mobile-menu-btn {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid #fff;
        width: 32px;
        height: 25px;
        padding: 6px 0;
        color: #fff;

        .line {
            width: 18px;
            height: 1px;
            background-color: currentColor;

            + .line {
                margin-top: 4px;
            }
        }

        @include mq('md') {
            display: none;
        }
    }

    &--with-background {
        transition: all .2s ease-in;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .15);

        a {
            color: $text-color;
            transition: all .1s ease-in;

            &:hover {
                color: $purple;

                &:after {
                    border-top-color: $purple;
                }
            }
        }

        .l-header {
            &__link {
                &::after {
                    border-top-color: $text-color;
                }
            }

            &__logo {
                color: $purple;
            }

            &__action-button {
                border-color: $text-color;

                &:hover {
                    color: #fff;
                    background-color: $purple
                }
            }

            &__mobile-menu-btn {
                border-color: $text-color;

                .line {
                    background-color: $text-color;
                }
            }
        }
    }
}