* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 13px;
}

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $text-color;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 3px;
}

h1 {
  font-size: 30px;
}

a,
.is-link {
  color: $link;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

ol,
ul {
  line-height: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

#root {
  height: 100%;
}