body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $text-color;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 3px;
}

h1 {
  font-size: 30px;
}

a {
  color: $blue;

  &:hover {
    text-decoration: underline;
  }
}
