// Use this on a div and add your CSS background-image to that div
// Create your own class to accompany this where background-image,
.h-gradient-image {
    color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: $image-overlay-gradient;
    }

    > * {
        position: relative;
        z-index: 2;
    }
}
